{% extends 'GergelyPolonkaiFrontBundle:Default:front_base.html.twig' %}

{% block title %} - About Me{% endblock %}

{% block content %}
<p>I'm Gergely Polonkai, systems engineer of a financial advisor company, and a freelancer developer.</p>
<p>I'm learning about different IT subjects since the late '90s. These include web development, application building, systems engineering, systems security and many others. I also dug my nose into free software, dealing with different types of Linux and its applications, while also writing and contributing to some open source projects.</p>
<p>On this site I will write blog posts about different stuff I face during work (oh my, yet another IT solutions blog), hoping they can help you with your own, or just to get along with your brand new netbook that shipped with Linux.</p>
<p>Feel free to send me any suggestions on what should I post. I will try my best to provide some help or directions.</p>
{% endblock content %}
