{% extends 'GergelyPolonkaiFrontBundle:Default:front_base.html.twig' %}
{% block title %} - Disclaimer{% endblock %}
{% block content %}
<h3>Disclaimer</h3>
<p>The articles and thoughts on this site is originated from me, unless otherwise stated. Please use them with this statement in your mind. If you use anything, please put a backlink on your site to the given article(s) or the main page.</p>
{% endblock content %}
