{% extends 'GergelyPolonkaiFrontBundle:Default:front_base.html.twig' %}
{% block title %} - Disclaimer{% endblock %}
{% block content %}
<h3>Disclaimer</h3>
<p>The articles and thoughts on this site all originate from me, unless otherwise stated. Please use them with this statement in your mind. If you use anything, please put a backlink on your site to the given article(s) or the main page.</p>
<p>The social media icons on the right are from <a href="http://komodomedia.com/"><img src="{{ asset('bundles/gergelypolonkaifront/images/komodomedia_azure_16.png') }}" alt="komodomedia.com" target="_blank" /> komodomedia.com</a>.</p>
{% endblock content %}
