{% extends 'GergelyPolonkaiFrontBundle:Default:front_base.html.twig' %}

{% block content %}
<h3>{{ code_chunk.title }}</h3>
{{ code_chunk.content|geshi_highlight(code_chunk.language) }}
{% if code_chunk.description %}
<div class="code-description">
    {{ code_chunk.description }}
</div>
{% endif %}
{% endblock %}
